.DS_Store
*.sw?
.idea/
node_modules/
node_modules.prod/
web/dist/
npm-debug.log
**/test-results.xml
**/TESTS-*.xml
artifacts.tgz
web/*.xml
*.rsa
*.crt
*.csr
*.tgz
manager/dist
dist
buildVersion.json
.env
.DS_Store
deploy/aws/*.cfg
deploy/aws/*.pem
scripts/force-download-products/dist
scripts/force-download-products/run.log
scripts/force-download-products/config.json
venv/